html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #72DD8B;

}

.button {
    background-color: #f7f7f7;
    color: #A6DDB1;
    border: none;
    border-radius: 10px;
    font-family: Bahnschrift;
    font-size: 50px;
}

.general {
    font-family: Bahnschrift;
    color: #F7F7F7;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}

#rectangle {
    position: absolute;
    width: 700px;
    height: 500px;
    top: 400px;
    left: 50%;
    background-color: #A6DDB1;
    transform: translateX(-50%);
    border-radius: 10px;
    z-index: 0;
    margin: -160px auto 0 auto;
}

#timer {
    font-size: 130px;
    margin: 80px auto 0 auto;
    position: relative;
    z-index: 1;
}

#title {
    font-size: 150px;
    color: #F7F7F7;
    font-family: Bahnschrift;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 1;
}

.underline {
    width: 700px;
    height: 10px;
    background-color: #f7f7f7;
    margin: -33px auto 0 auto;
    border-radius: 10px;
    vertical-align: middle;
}




